---
---
<div class="md:hidden fixed bottom-0 left-0 right-0 z-30 p-3 bg-[#F4F3EE]/95 dark:bg-[#0B1220]/95 backdrop-blur border-t border-slate-200 dark:border-white/[.06]">
  <a
    href="https://app.grimy.fr"
    class="block text-center text-[15px] font-semibold text-white px-5 py-3 rounded-lg btn-magnetic"
  >
    Essayer gratuitement &rarr;
  </a>
</div>
